@import "general";

.container {
  width: 100vw;
  height: 100vh;
  background: $modal-background-colour;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 80vw;
    height: 80vh;

    position: relative;

    background: $default-background-colour;

    padding: 1rem;

    overflow-y: auto;

    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}
