<div *ngIf="fullsize == 'true'" class="container">
  <div
    class="top-left-tag"
    [ngStyle]="{
      background: assignedUser ? assignedUser.colour : unassignedBackground
    }"
  ></div>

  <!-- <h3 class="header">Assigned to:</h3> -->
  <span
    class="name-wrapper"
    [ngStyle]="{
      background: assignedUser ? assignedUser.colour : unassignedBackground
    }"
  >
    {{ assignedUser ? assignedUser.name : "Unassigned" }}
  </span>
  <div class="user-input-wrapper">
    <div
      class="user-search__dropdown"
      [ngClass]="
        showingList
          ? 'user-search__dropdown-show'
          : 'user-search__dropdown-hide'
      "
    >
      <ul class="name-container">
        <li
          class="name-wrapper__dropdown"
          *ngFor="let user of listShow"
          (click)="setAssigned($event)"
        >
          {{ user.name }}
        </li>
      </ul>
    </div>
    <input
      type="text"
      class="user-search"
      placeholder="To tag a user, start typing their name or select them from the list"
      (focus)="showList()"
      (focusout)="hideList()"
      [(ngModel)]="searchText"
      (input)="filterList()"
    />
  </div>
</div>
<div
  *ngIf="fullsize == 'false'"
  class="container-small"
  [ngStyle]="{
    background: assignedUser ? assignedUser.colour : unassignedBackground
  }"
>
  <span
    class="name-wrapper-small"
    [ngStyle]="{
      color: assignedUser ? unassignedBackground : unassignedColour
    }"
  >
    {{ assignedUser ? assignedUser.name : "Unassigned" }}
  </span>
</div>
