$main-theme-colour: rgb(71, 71, 71);

$default-background-colour: rgb(189, 189, 189);
$default-border-colour: rgb(131, 131, 131);

$side-tabs-background-colour: rgb(114, 114, 114);

$default-error-colour: rgb(240, 70, 70);
$default-success-colour: rgb(88, 233, 69);

$default-font: 'Abel', sans-serif;