<app-surround>
  <div class="container" cdkDropListGroup>
    <div
      id="{{ track.title }}"
      cdkDropList
      class="track"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="track.cards"
      *ngFor="let track of tracks; let i = index"
    >
      <h2>{{ track.title }}</h2>

      <!-- <pre *ngFor="let card of track.cards">{{card.name}} : {{card.description}}</pre> -->

      <app-course-workflow-card
        *ngFor="let card of track.cards"
        cdkDrag
        (click)="displayModal($event, true)"
        [cdkDragData]="card"
        courseName="{{ card.name }}"
        created="{{ card.created }}"
        date="{{ card.date }}"
        deadline="{{ card.deadline }}"
        priority="{{ card.priority }}"
        path="{{ card.path }}"
        comments="{{ card.comments }}"
        assigned="{{ card.assigned }}"
        tag="{{ card.tag }}"
        description="{{ card.description }}"
        files="{{ card.files | json }}"
      >
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      </app-course-workflow-card>
    </div>
  </div>

  <!-- <div class="temp-wrapper"> -->
  <!-- <app-course-workflow-card
      *ngFor="let course of cards.files"
      courseName="{{ course.name }}"
      created="{{ course.date }}"
      deadline="{{ course.deadline }}"
      description="this is the course description, it can be fairly simple to be honest"
    ></app-course-workflow-card> -->
  <!-- </div> -->
</app-surround>
