@import "general";

.container {
  background: $default-background-colour;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $default-font;
    font-size: $header-font-size-very-large;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0;

    background: $main-moustache-colour;

    box-shadow: 0 3px 4px $box-shadow-colour-light;
  }

  .user-wrapper {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    overflow-y: auto;

    span {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      border: 1px solid black;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $header-font-size-very-large;
      margin: 1rem;

      transition: background 200ms linear, color 200ms linear;
      &:hover {
        background: $default-button-hover-colour;
        color: white;
      }
    }
  }
}

.modal-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    font-family: $default-font;
    text-align: center;
    font-size: $header-font-size-very-large;
    padding: 0.5rem;
    margin: 0;
  }

  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    label {
      font-family: $default-font;
      font-size: $header-font-size-medium;
      height: $header-font-size-medium;
      line-height: $header-font-size-medium;
      align-self: center;
      justify-self: center;
    }
    input[type="text"] {
      padding: 0.5rem;
      font-family: $default-font;
      width: 70%;
      margin-left: 1rem;
      font-size: $font-size-very-large;
    }
    input[type="button"] {
      @include button;
      margin-left: 1rem;
    }
  }
}
