<div *ngIf="user" class="comment__card">
  <div class="main-content-wrapper">
    <div class="user-identifier" [ngStyle]="{ background: user.colour }">
      {{ user.initials }}
    </div>
    <span class="break">:</span>
    <textarea
      type="text"
      class="comment"
      [readonly]="!edit"
      rows="1"
      [(ngModel)]="comment"
    ></textarea>
    <i class="fa-solid fa-pen-to-square edit" (click)="toggleEdit()"></i>
  </div>
  <div class="sub-content-wrapper">
    {{ date }}
  </div>
</div>
