<app-card-modal
  *ngIf="cardModalShow"
  (cancel)="displayModal(false)"
  courseName="{{ courseName }}"
  courseDate="{{ date }}"
  courseDeadline="{{ deadline }}"
  courseCreated="{{ created }}"
  description="{{ description }}"
  priority="{{ priority }}"
  coursePath="{{ path }}"
  comments="{{ comments }}"
  assigned="{{ assigned }}"
  tag="{{ tag }}"
></app-card-modal>

<div
  class="container"
  [ngStyle]="{ 'border-color': cardColour }"
  draggable="true"
  (click)="displayModal(true)"
>
  <div>
    <h2 class="title">{{ courseName }}</h2>
    <p class="date">{{ created | date: "dd/MM/yyyy" }}</p>
    <span class="priority">
      <app-priority-icon
        fullSize="true"
        priority="{{ priority }}"
      ></app-priority-icon>
    </span>

    <app-assigned-tag name="{{ assigned }}" fullsize="false"></app-assigned-tag>
  </div>
  <app-deadline-countdown
    start="{{ created }}"
    end="{{ deadline }}"
  ></app-deadline-countdown>

  <!-- <h1>{{ jsonFiles.general.length }}</h1> -->
  <div class="completion-tracker">
  <h3>{{ writtenGeneralFiles }} / {{ jsonFiles.general.length }} General Records Complete</h3>
  <h3>{{ writtenCandidateFiles }} / {{ jsonFiles.candidate.length }} Candidate Records Complete</h3>
</div>
  <!-- <h1>{{ jsonFiles.candidate.length }}</h1> -->
  <!-- <h1>{{ jsonFiles | json }}</h1> -->
</div>
