<div class="container">
  <ul class="list-wrapper">
    <li>
      <a routerLink="/users">Manage Users</a>
    </li>
    <li>
      <a routerLink="/create-course">Create a Course</a>
    </li>
    <li>
      <a routerLink="/workflows">Workflows</a>
    </li>
    <li>
      <a routerLink="/settings">Settings</a>
    </li>
    <li>
      <a routerLink="/bug-report">Log an Issue</a>
    </li>
  </ul>
  <span *ngIf="outputFile" class="output-wrapper">
    <label>Output Location:</label>
    <input class="output-display" type="text" [(ngModel)]=outputFile (focusout)="handleOutputChange()" />
  </span>
</div>