<div class="container">
    <h1>Folder Generator</h1>
    <!-- <div>
      <input
        [ngModel]="date"
        (ngModelChange)="handleDateChange($event)"
        class="date"
        type="date"
      />
      <select
        #courseType
        (change)="handleCourseTypeChange($event)"
        class="dropdown"
        type="dropdown"
      >
        <option *ngFor="let course of courseTypes" value="{{ course }}">
          {{ course }}
        </option>
      </select>
    </div> -->
  </div>